<% title "登录" %>  
   
<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
<ol class="formList">  
  <li>  
    <%= form.label :username, "用户" %>  
    <%= form.text_field :username %>  
  </li>  
  <li>  
    <%= form.label :password, "密码" %>  
    <%= form.password_field :password %>  
  </li>  
  <li>  
    <%= form.submit "Submit" %>  
  </li>  
</ol>  
<% end %>  
